<ion-header class="ion-no-border">
  <ion-toolbar>
    <img class="logo" src="/assets/logo.png" alt="">
     <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="4" class="ion-text-right">
        TV Shows
      </ion-col>
      <ion-col size="4">
        Movies
      </ion-col>
      <ion-col size="4" tappable (click)="openCategories()" class="ion-text-left">
        Categories <ion-icon name="caret-down-outline"></ion-icon>
      </ion-col>
     </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="spotlight" [style.background-image]="'url(/assets/'+spotlight.id+'-cover.jpg)'">
   <div class="gradient"></div>
   <div class="info">
    <img class="title" [src]="'/assets/'+spotlight.id+'-title.png'">
    <span class="rating">{{ spotlight.rating }}</span>
    <ion-row class="ion-align-items-center">
      <ion-col size="4" class="ion-tex-center">
        <div class="btn-vertical">
          <ion-icon name="add"></ion-icon>
          <span>My List</span>
        </div>
      </ion-col>
      <ion-col size="4" class="ion-tex-center">
        <div class="btn-play">
          <ion-icon name="play" color="dark"></ion-icon>
          <span>Play</span>
        </div>
      </ion-col>
      <ion-col size="4" class="ion-tex-center">
        <div class="btn-vertical">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>Info</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
  </div>

</ion-content>
